<div [formGroup]="form">
  <label for="password">Password</label>
  <input formControlName="password" type="password" id="password" />
  @if (passwordControl.touched && passwordControl.hasError('required')) {
    <div class="error">
      password is required
    </div>
  }

  <label for="confirm-password">Confirm Password</label>
  <input formControlName="confirmPassword" type="password" id="confirm-password" />
  @if (confirmPasswordControl.touched && confirmPasswordControl.hasError('required')) {
    <div class="error">
      password is required
    </div>
  }

  @if (passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')) {
    <div class="error">
      passwords do not match
    </div>
  }
</div>