<h2>Form Builder</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="firstName">First Name</label>
  <input formControlName="firstName" id="firstName" />

  <label for="lastName">Last Name</label>
  <input formControlName="lastName" id="lastName" />

  <label for="email">Email</label>
  <input formControlName="email" id="email" />

  @if (email.touched && email.hasError('required')) {
    <div class="error">
      email is required
    </div>
  }

  @if (email.touched && email.hasError('email')) {
    <div class="error">
      invalid email address
    </div>
  }

  <button>Submit</button>
</form>

<pre>{{ form.value | json }}</pre>